.container {
    max-width: 1400px;
    margin: 0 auto;
    touch-action: auto;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 10px 0;
    top: 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
    #header {
        padding: 5px 0;
    }
}

#header.header-scrolled {
    top: 0;
}

.daliart-logo img {
    min-width: 140px;
    height: auto;
    padding: 5px;
}

.wonder-newland-logo img {
    min-width: 150px;
    height: auto;
    padding: 5px;
}

@media (max-width: 575.98px) {
    .daliart-logo img {
        min-width: 100px;
        height: auto;
        padding: 5px;
        margin: 4px 5px 0 0;
    }

    .wonder-newland-logo img {
        min-width: 120px;
        height: auto;
        padding: 5px;
    }
}

@media (max-width: 767.98px) {
    .navbar {
        padding: 5px;
        margin: 0 10px 0 0;
    }

    .daliart-logo img {
        min-width: 100px;
        height: auto;
        padding: 5px;
        margin: 4px 5px 0 0;
    }

    .wonder-newland-logo img {
        min-width: 120px;
        height: auto;
        padding: 5px;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/*** 桌機選單 **/
.navbar {
    padding: 5px;
    margin: 0 5px 0 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 18px;
    color: #2f2f2f;
    white-space: nowrap;
    transition: 0.3s;
    font-weight: 500;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #3fbbc0;
}

/** 手機漢堡選單 **/
.mobile-nav-toggle {
    color: #555555;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #111;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

/* 手機漢堡選單點擊彈出 */
.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 60px;
    right: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.2);
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 18px;
    color: #555555;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #3fbbc0;
}

/*--------------------------------------------------------------
# Slider Banner
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background-color: rgba(60, 60, 60, 0.8);
    overflow: hidden;
    position: relative;
}

#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#hero .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (max-width: 1200px) {
    #hero .container {
        margin-left: 50px;
        margin-right: 50px;
    }
}

#hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
    background: none;
    font-size: 30px;
    line-height: 0;
    width: auto;
    height: auto;
    background: rgba(54, 54, 54, 0.8);
    border-radius: 50px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
    background: #6e6e6e;
    color: rgba(255, 255, 255, 0.8);
}

@media (max-height: 500px) {
    #hero {
        height: 160vh;
    }
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 28px;
    }
}

@media (max-width: 992px) {
    #hero {
        height: 100vh;
    }
}

@media (min-width: 1024px) {

    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 5%;
    }
}



/*** 輪播圖的圖片 ***/
#bannerimg01 {
    background-size: cover;
    position: relative;
    background-image: url(../imgs/img01.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    /* justify-content: center;
    align-items: flex-end; */
}

#bannerimg02 {
    background-size: cover;
    position: relative;
    background-image: url(../imgs/img02.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    /* justify-content: center;
    align-items: flex-end; */
}

#bannerimg03 {
    background-size: cover;
    position: relative;
    background-image: url(../imgs/img03.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    /* justify-content: center;
    align-items: flex-end; */
}

/* 小型裝置 (橫向手機畫面, 小於 768px) */
@media (max-width: 767.98px) {
    #bannerimg01 {
        background-size: cover;
        position: relative;
        background-image: url(../imgs/IPAD992X1200_01.jpg);
        background-repeat: no-repeat;
        background-position: center top;
    }

    #bannerimg02 {
        background-size: cover;
        position: relative;
        background-image: url(../imgs/IPAD992X1200_02.jpg);
        background-repeat: no-repeat;
        background-position: center top;
    }

    #bannerimg03 {
        background-size: cover;
        position: relative;
        background-image: url(../imgs/IPAD992X1200_03.jpg);
        background-repeat: no-repeat;
        background-position: center top;
    }
}

/* `sm` 超小型裝置 （垂直螢幕手機，小於576px） */
@media (max-width: 575.98px) {
    #bannerimg01 {
        background-size: cover;
        position: relative;
        background-image: url(../imgs/1170x2532_01.jpg);
        background-repeat: no-repeat;
        background-position: center top;
    }

    #bannerimg02 {
        background-size: cover;
        position: relative;
        background-image: url(../imgs/1170x2532_02.jpg);
        background-repeat: no-repeat;
        background-position: center top;
    }

    #bannerimg03 {
        background-size: cover;
        position: relative;
        background-image: url(../imgs/1170x2532_03.jpg);
        background-repeat: no-repeat;
        background-position: center top;
    }

}


/* `lg` 中型設備（平板電腦，小於992px） */
@media (min-width: 768px) and (max-width: 991.98px) {
    #bannerimg01 {
        background-size: cover;
        position: relative;
        background-image: url(../imgs/IPAD992X1200_01.jpg);
        background-repeat: no-repeat;
        background-position: center top;
    }

    #bannerimg02 {
        background-size: cover;
        position: relative;
        background-image: url(../imgs/IPAD992X1200_02.jpg);
        background-repeat: no-repeat;
        background-position: center top;
    }

    #bannerimg03 {
        background-size: cover;
        position: relative;
        background-image: url(../imgs/IPAD992X1200_03.jpg);
        background-repeat: no-repeat;
        background-position: center top;
    }
}

/* `xl` 大型設備（桌上型電腦，小於1200px） */
@media (min-width: 768px) and (max-width: 1199.98px) {
    #bannerimg01 {
        background-size: cover;
        position: relative;
        background-image: url(../imgs/IPAD992X1200_01.jpg);
        background-repeat: no-repeat;
        background-position: center top;
    }

    #bannerimg02 {
        background-size: cover;
        position: relative;
        background-image: url(../imgs/IPAD992X1200_02.jpg);
        background-repeat: no-repeat;
        background-position: center top;
    }

    #bannerimg03 {
        background-size: cover;
        position: relative;
        background-image: url(../imgs/IPAD992X1200_03.jpg);
        background-repeat: no-repeat;
        background-position: center top;
    }
}

/* `xxl` 超大型設備（大型桌面，小於 1400 像素） */
@media (max-width: 1399.98px) {}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
/* 開啟頁腳會固定在頁面下方 */
/* footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
} */


.footer .nav-link {
    font-size: 16px;
    font-weight: 500;
}

.footer-copyright p {
    margin-bottom: 0;
    font-size: 14px;
}

.footer a:hover,
.footer .active,
.footer .active:focus,
.footer li:hover>a {
    color: #3fbbc0;
}


@media (max-width: 575.98px) {
    .footer .nav-link {
        font-size: 12px;
        font-weight: 500;
    }

    .footer-copyright p {
        margin-bottom: 0;
        font-size: 10px;
    }
}